body {
    box-sizing: border-box;
    font-family: 'Cormorant Infant', serif;
    color: #36175a;
    margin: 0 20px;
    background-color: #fbfafd
}

h2, 
h3,
h4, 
p {
    margin: .5em 0;

}

a {
    text-decoration: none;
}

footer {
/* footer takes up full width and is fixed to the bottom of the page */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fbfafd      
}

/************** nav styles **************/
nav,
nav ul {
/* nav adjust to viewport width */
    display: flex;
    flex-direction: column;
}

nav {
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: .25em 5em;
    margin-bottom: .25em;
    color: #7007e9;
    border: 1px solid #c5d4f8;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

/************** bio pic styles **************/
.bio-img-container {
    margin-bottom: 25px;
/*clickable imgs adjust to viewport width  */
    display: flex;
    flex-wrap: wrap;
/*imgs behind popup modal*/
    position: static;
    z-index: 1;
}

.bio-img {
/* clickable imgs setting for mobile */
    width: 325px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border: 10px solid #c5d4f8;
    box-shadow: 0px 0px 5px 2px  #36175a;
}

/************** bio modal styles **************/
.bio-modal {
    width: 375px; 
    max-width: fit-content;
    background-color: #c5d4f8;
    border: 2px solid #36175a;
/* bio modals are hidden */
    display: none;
    flex-direction: column;
/*modals are in front of pictures*/
    z-index: 2;
    position: absolute;
/* center */
    margin: auto;
    left: 0;
    right: 0; 
/* shadow over other content when open*/
    box-shadow: 0px 0px 10px 1000px  #36175abb;  
}

.x-close-icon {
    width: 15px;
    height: auto;
    padding: 5px;
    margin: 5px;
    align-self: flex-end;
}

.modal-img {
    margin: 5px 20px 0 20px;
    max-width: fit-content;
    box-shadow: 0px 0px 5px 2px  #36175a;
}

.modal-text {
    padding: 0 20px 15px;
}

/* align modals with clickable imgs in mobile view  */
#blackbutt-modal{
    margin-top: 370px;
}

#the-other-one-modal{
    margin-top: 740px;
}

#new-girl-modal{
    margin-top: 1110px;
}

#sickly-twin-modal{
    margin-top: 1480px;
}

#strong-twin-modal{
    margin-top: 1850px;
}

/************** subscription section styles **************/
#subscribe {
    padding-bottom: 25px;
    position: static;
    z-index: 1;
}

/************** signup page styles **************/
.signup-page {
    padding: 0 50px;
}

input,
select, 
button {
    box-sizing: border-box;
    width: 200px;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
}

.signup-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px 1fr);
    grid-gap: 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.required,
.error {
    color: red;
}

#form-submit-message {
    padding-bottom: 20px;
}

/************** media queries **************/

@media (min-width: 650px) {
/* change to medium nav */
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #site-logo {
        width: 200px;
    }

    .bio-img {
        width: 400px;
    }

/* change to larger modal size */
    .bio-modal {
        width: 605px;
        margin: auto;
    }

    #blackbutt-modal,
    #the-other-one-modal,
    #new-girl-modal,
    #sickly-twin-modal,
    #strong-twin-modal {
        margin-top: 0;
    }

/* change to medium signup form */
    .signup-form {
        grid-template-columns: 1fr 1fr;
        margin: 0 15px;
    }

    .signup-form h3,
    .favorite-beetle,
    .submit-button {
        grid-column: 1 / -1;
    }
} 

@media (min-width: 970px) {
/* add margin on bigger viewport */
    body {
        margin: 0 50px;
    }

    .signup-page {
        margin: 0 50px;
    }

/* change to large nav */
    nav {
        align-items: flex-end;
        border-bottom: 1px solid #c5d4f8;
        margin-bottom: 30px;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul a {
        padding: .25em 1em;
        margin-left: 20px;
        border: none;
    }

    #site-logo {
        width: 300px;
        margin: 0 50px;
    }

/* change to large signup form */
    .signup-form {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .favorite-beetle {
        grid-column: 2 / 3;
    }
    
    .submit-button { 
        grid-column: 3 / 4;
        align-items: center;
        justify-content: center;
    }
}