/* base styles */
body {
    box-sizing: border-box;
}


/* nav styles */



/* bio pic styles */
.bio-img-container {
    display: flex;
    flex-wrap: wrap;
}

.bio-img{
    margin: auto;
    margin-top: 20px;
}


/* bio modal styles */
.bio-modal {
    display: none; /* bio boxes are hidden */
    max-width: fit-content;
    width: 610px;
    background-color: white;
    border: 1px red solid;
    z-index: 2; /* bio boxes are in front of pictures     */
}

.modal-img {
    max-width: fit-content;
}

.modal-text{
    
}

/* media queries */